* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  color: $white;
  background-color: $gray-700;

  &, button, textarea, input {
    font-size: 1rem;
    font-family: $default;
  }
}